    <div class="pos-base-stats">
        <div class="base-stats-row">
            <div class="text-label color-normal pos-base-stats__label  {{ "color-target-summary" if feature_dict.is_target }}">VALUES:</div>
            <div class="text-value color-source pos-base-stats__source">
                {{ feature_dict.base_stats.num_values.number|fmt_int_commas }}
            </div>
            <div class="text-value color-source pos-base-stats__source-perc">
                {{ feature_dict.base_stats.num_values.perc|fmt_percent_parentheses }}
            </div>
            {% if compare_dict is not none: %}
                <div class="text-value color-compare pos-base-stats__compare">
                    {{ compare_dict.base_stats.num_values.number|fmt_int_commas }}
                </div>
                <div class="text-value color-compare pos-base-stats__compare-perc">
                    {{ compare_dict.base_stats.num_values.perc|fmt_percent_parentheses }}
                </div>
            {% endif %}
        </div>
        <div class="base-stats-row">
            <div class="text-label color-normal pos-base-stats__label {{ "color-target-summary" if feature_dict.is_target }}">MISSING:</div>
            <div class="text-value color-source pos-base-stats__source">
                {% if feature_dict.base_stats.num_missing.number > 0: %}
                    {{ feature_dict.base_stats.num_missing.number|fmt_int_commas }}
                {% else %}
                    ---
                {% endif %}
            </div>
            <div class="text-value color-source pos-base-stats__source-perc" {{ feature_dict.base_stats.num_missing.perc|fmt_div_color_override_missing }}>
                {% if feature_dict.base_stats.num_missing.number > 0: %}
                    {{ feature_dict.base_stats.num_missing.perc|fmt_div_icon_missing }}
                    {{ feature_dict.base_stats.num_missing.perc|fmt_percent_parentheses }}
                {% else %}

                {% endif %}
            </div>
            {% if compare_dict is not none: %}
                <div class="text-value color-compare pos-base-stats__compare">
                    {% if compare_dict.base_stats.num_missing.number > 0: %}
                        {{ compare_dict.base_stats.num_missing.number|fmt_int_commas }}
                    {% else %}
                        ---
                    {% endif %}
                </div>
                <div class="text-value color-compare pos-base-stats__compare-perc" {{ compare_dict.base_stats.num_missing.perc|fmt_div_color_override_missing }}>
                    {% if compare_dict.base_stats.num_missing.number > 0: %}
                        {{ compare_dict.base_stats.num_missing.perc|fmt_div_icon_missing }}
                        {{ compare_dict.base_stats.num_missing.perc|fmt_percent_parentheses }}
                    {% else %}

                    {% endif %}
                </div>
            {% endif %}
        </div>
        {% set _src_nan = feature_dict.base_stats.num_nan_pure.number > 0 %}
        {% set _src_inf = feature_dict.base_stats.num_inf.number > 0 %}
        {% set _src_ninf = feature_dict.base_stats.num_neg_inf.number > 0 %}
        {% if compare_dict is not none %}
            {% set _cmp_nan = compare_dict.base_stats.num_nan_pure.number > 0 %}
            {% set _cmp_inf = compare_dict.base_stats.num_inf.number > 0 %}
            {% set _cmp_ninf = compare_dict.base_stats.num_neg_inf.number > 0 %}
        {% else %}
            {% set _cmp_nan = False %}
            {% set _cmp_inf = False %}
            {% set _cmp_ninf = False %}
        {% endif %}
        {% if _src_nan or _src_inf or _src_ninf or _cmp_nan or _cmp_inf or _cmp_ninf %}
            <div class="base-stats-row">
                <div class="text-label color-normal pos-base-stats__label {{ "color-target-summary" if feature_dict.is_target }}">&nbsp;&nbsp;NaN:</div>
                <div class="text-value color-source pos-base-stats__source">
                    {% if feature_dict.base_stats.num_nan_pure.number > 0: %}
                        {{ feature_dict.base_stats.num_nan_pure.number|fmt_int_commas }}
                    {% else %}
                        ---
                    {% endif %}
                </div>
                <div class="text-value color-source pos-base-stats__source-perc">
                    {% if feature_dict.base_stats.num_nan_pure.number > 0: %}
                        {{ feature_dict.base_stats.num_nan_pure.perc|fmt_percent_parentheses }}
                    {% endif %}
                </div>
                {% if compare_dict is not none: %}
                    <div class="text-value color-compare pos-base-stats__compare">
                        {% if compare_dict.base_stats.num_nan_pure.number > 0: %}
                            {{ compare_dict.base_stats.num_nan_pure.number|fmt_int_commas }}
                        {% else %}
                            ---
                        {% endif %}
                    </div>
                    <div class="text-value color-compare pos-base-stats__compare-perc">
                        {% if compare_dict.base_stats.num_nan_pure.number > 0: %}
                            {{ compare_dict.base_stats.num_nan_pure.perc|fmt_percent_parentheses }}
                        {% endif %}
                    </div>
                {% endif %}
            </div>
            <div class="base-stats-row">
                <div class="text-label color-normal pos-base-stats__label {{ "color-target-summary" if feature_dict.is_target }}">&nbsp;&nbsp;+∞:</div>
                <div class="text-value color-source pos-base-stats__source">
                    {% if feature_dict.base_stats.num_inf.number > 0: %}
                        {{ feature_dict.base_stats.num_inf.number|fmt_int_commas }}
                    {% else %}
                        ---
                    {% endif %}
                </div>
                <div class="text-value color-source pos-base-stats__source-perc">
                    {% if feature_dict.base_stats.num_inf.number > 0: %}
                        {{ feature_dict.base_stats.num_inf.perc|fmt_percent_parentheses }}
                    {% endif %}
                </div>
                {% if compare_dict is not none: %}
                    <div class="text-value color-compare pos-base-stats__compare">
                        {% if compare_dict.base_stats.num_inf.number > 0: %}
                            {{ compare_dict.base_stats.num_inf.number|fmt_int_commas }}
                        {% else %}
                            ---
                        {% endif %}
                    </div>
                    <div class="text-value color-compare pos-base-stats__compare-perc">
                        {% if compare_dict.base_stats.num_inf.number > 0: %}
                            {{ compare_dict.base_stats.num_inf.perc|fmt_percent_parentheses }}
                        {% endif %}
                    </div>
                {% endif %}
            </div>
            <div class="base-stats-row">
                <div class="text-label color-normal pos-base-stats__label {{ "color-target-summary" if feature_dict.is_target }}">&nbsp;&nbsp;−∞:</div>
                <div class="text-value color-source pos-base-stats__source">
                    {% if feature_dict.base_stats.num_neg_inf.number > 0: %}
                        {{ feature_dict.base_stats.num_neg_inf.number|fmt_int_commas }}
                    {% else %}
                        ---
                    {% endif %}
                </div>
                <div class="text-value color-source pos-base-stats__source-perc">
                    {% if feature_dict.base_stats.num_neg_inf.number > 0: %}
                        {{ feature_dict.base_stats.num_neg_inf.perc|fmt_percent_parentheses }}
                    {% endif %}
                </div>
                {% if compare_dict is not none: %}
                    <div class="text-value color-compare pos-base-stats__compare">
                        {% if compare_dict.base_stats.num_neg_inf.number > 0: %}
                            {{ compare_dict.base_stats.num_neg_inf.number|fmt_int_commas }}
                        {% else %}
                            ---
                        {% endif %}
                    </div>
                    <div class="text-value color-compare pos-base-stats__compare-perc">
                        {% if compare_dict.base_stats.num_neg_inf.number > 0: %}
                            {{ compare_dict.base_stats.num_neg_inf.perc|fmt_percent_parentheses }}
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        {% endif %}
        <div class="base-stats-row">
        </div>
        <div class="base-stats-row">
            <div class="text-label color-normal pos-base-stats__label {{ "color-target-summary" if feature_dict.is_target }}">DISTINCT:</div>
            <div class="text-distinct color-source pos-base-stats__source">
                {{ feature_dict.base_stats.num_distinct.number|fmt_int_commas }}
            </div>
            <div class="text-value color-source pos-base-stats__source-perc">
                {{ feature_dict.base_stats.num_distinct.perc|fmt_percent_parentheses }}
            </div>
            {% if compare_dict is not none: %}
                <div class="text-distinct color-compare pos-base-stats__compare">
                    {{ compare_dict.base_stats.num_distinct.number|fmt_int_commas }}
                </div>
                <div class="text-value color-compare pos-base-stats__compare-perc">
                    {{ compare_dict.base_stats.num_distinct.perc|fmt_percent_parentheses }}
                </div>
            {% endif %}
        </div>
        {%  if feature_dict.type == FeatureType.TYPE_NUM %}
            <div class="base-stats-row">
            </div>
            <div class="base-stats-row">
                <div class="text-label color-normal pos-base-stats__label {{ "color-target-summary" if feature_dict.is_target }}">ZEROES:</div>
                <div class="text-value color-source pos-base-stats__source">
                    {% if feature_dict.base_stats.num_zeroes.number > 0: %}
                        {{ feature_dict.base_stats.num_zeroes.number|fmt_int_commas }}
                    {% else %}
                        ---
                    {% endif %}
                </div>
                <div class="text-value color-source pos-base-stats__source-perc">
                    {% if feature_dict.base_stats.num_zeroes.number > 0: %}
                        {{ feature_dict.base_stats.num_zeroes.perc|fmt_percent_parentheses }}
                    {% else %}

                    {% endif %}
                </div>
                {% if compare_dict is not none: %}
                 <div class="text-value color-compare pos-base-stats__compare">
                    {% if compare_dict.base_stats.num_zeroes.number > 0: %}
                        {{ compare_dict.base_stats.num_zeroes.number|fmt_int_commas }}
                    {% else %}
                        ---
                    {% endif %}
                </div>
                <div class="text-value color-compare pos-base-stats__compare-perc">
                    {% if compare_dict.base_stats.num_zeroes.number > 0: %}
                        {{ compare_dict.base_stats.num_zeroes.perc|fmt_percent_parentheses }}
                    {% else %}

                    {% endif %}
                </div>
                {% endif %}
            </div>
        {% endif %}
    </div>

